*{
    margin:0;
    padding:0;
    }
    input:focus{
        outline:none;
        background-color:white;
    }
    input::placeholder{
        color:#97C4EE;
    }
    section{
        background: linear-gradient(to top,rgba(0,0,0,0.8),rgba(245, 245, 245, 0.329)),url("./assests/globe\ with\ aeroplane.png");
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    ul,li{
        display:inline-block;
    
    }
    nav{
    padding:15px;
    margin-bottom: 40px;
    padding-top:20px;

    }
    ul{
        float: right;
    }
    li
    {
        cursor: pointer;
        color:#182145;
        margin-right: 40px;
        font-size: 20px;
        padding:10px;
        margin-top:10px;
    }
    li:hover{
        color:white;
        background-color:#182145;
        border-radius:20px;
    }
    h2{
        color:white;
        font-size:65px;
        padding-left:60px;
        width:30%;
        display:inline-block;
       padding-bottom:50px;
        text-align: justify;
        position: relative;
        bottom: 40px;
    }
    .box{
        display:inline-block;
        height:400px;
        width:300px;
        background-color:rgba(255,255,255,0.3);
        border-radius:15px;
        padding: 30px;
        position:relative;
       left:270px;
      top: 30px;
        margin-bottom:70px;
        box-shadow: 0px 0px 10px 5px rgba(24,33,69,0.3);
       
    }
    button{
        color:#97C4EE;
        background-color:#182145;
        padding:5px;
        position:relative;
        text-align: center;
        left: 220px;
        top: 30px;
        font-weight: bolder;
        border-radius: 12px;
        border:none;
        display: block;
        cursor:pointer;
    }
    button:hover{
        color: white;
    }
    h1{
    
        color:#97C4EE;
        background-color:#182145;
        border-radius:12px;
        border-style:solid;
        border-width:0px;
        border-color:#182145;
        width:200px;
        height:30px;
        text-align:center;
        margin-top:50px;
        border-radius:12px;
        margin-left:45px;
    }
    input{
        display:block;
        color:#97C4EE;
        background-color:#182145;
        border-width:0px;
        border-style:solid;
        border-color:#182145;
        border-radius:12px;
        height:30px;
        margin-top:50px;
        margin-left:20px;
        text-align:center;
        border-style:solid;
        border-width:0px;
        width:250px;
    }
    
    a.button{
        display:block;
    }
    a{
        display:inline-block;
        text-decoration: none;
        color:#182145;
    }

    a:active{
        opacity:0.7;
    }
    .box a:hover{
    color:white;
    }
    .createaccount{
        margin-top:60px;
       /* margin-left: 10px;*/
        text-align: left;
    
    }
    .forgotaccount{
        margin-top:60px;
        display:inline-block;
        /*margin-right: 10px;*/
        text-align: right;
        margin-left:70px;
    }
    footer{
       background-color:#182145;
    }
    .Query{
        color:#97C4EE;
        display:block;
       padding-bottom:10px;
        margin-left:10px;
        padding-top:25px;
        padding-left:20px;
    }
    a.footerlinks{
        text-decoration:none;
        color:#97C4EE;
        padding-top:10px;
        padding-left:20px;
        margin-left:10px;
        padding-right:20px;
        padding-bottom: 10px;
    }
    a.footerlinks:hover{
        color:white;
        background-color:#97C4EE;
        border-radius:12px;
    }
    hr{
        width:40%;
        display:inline-block;
        background-color:#97C4EE;
        border: none;
        height: 2px;
    }
    .fa {
        padding: 10px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        margin: 5px;
        color:#182145;
        border: solid 1px #97C4EE;
        background-color:#97C4EE;
        border-radius: 5px;
      }
    .fa:hover{
        color:white;
    }
    .footerlogo{
        text-align:center;
        padding:10px;
        color:#97C4EE;
        font-size:20px;
    
    }
    .footerlogo a{
        color:#97C4EE;
        padding:10px;
    
    }
    .footerlogo a:hover{
        color:white;
    }
    a:hover{
        color:white;
    }