*{
    margin:0px;
    padding:0px;
}
section{
    background: linear-gradient(to top , rgba(0,0,0,0.9),rgba(255,255,255,0.1)), url("../assests/temple\ banner.jpg");
    width:100%;
    height:620px;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.NavBar{
    display:flex;
    justify-content: space-between;
    padding:20px;
}
.NavBar>a{
    text-decoration: none;
    color:#182145;
    font-size: 20px;
    font-weight: bold;
    margin-right:50%;
    padding:10px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    border-radius: 12px;
    transition: 0.5s;
}
.NavBar>a:hover{
    background-color: white;
    color:#182145;
    
}
.NavBar > ul{
    display:flex;
    list-style: none;
    justify-content: space-between;
    flex-basis: 20%;
}
.logout{
    font-size: 20px;
    font-weight:bold;
    text-align:center;
    background-color: rgba(255,255,255,0.3);
    padding:8px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s;
}
.logout:hover{
    transform: scale(0.99);
   background-color: white;
}
.logout>a{
    text-decoration: none;
    text-align: center;
    color:#182145;
}
.logout>a:hover{
    color:#182145;
}
.fa-circle-user{
    color:#182145;
    font-size:35px;
    transition: 0.5s;
    cursor: pointer;
}
.fa-circle-user:hover{
    color:white;
    transform : scale(1.1);
}
section>input{
    height: 6%;
    width:25%;
    margin-left:1.5%;
    border-radius:12px;
    border:none;
    text-align:center;
    outline: none;
    font-size: 20px;
   margin-bottom:1%;
}
section>input::placeholder{
    font-size: 15px;
}
section>button{
    color:#182145;
    padding: 10px;
    border:none;
    border-radius:12px;
    margin-left:10%;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.5s;
}
section>button:hover{
    background-color:#182145;
    color: white;
    transform: scale(0.99);
}
section>h1{
    color: white;
    font-size: 80px;
    font-weight: bold;
    position: relative;
    text-align:center;
    top: 160px;
}
section>p{
    font-size:40px;
    text-align: center;
    color: white;
    font-weight: bold;
}
/*body>h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
    background: linear-gradient(to right,white,#97C4EE,white);
    color: #182145;
    height: 50px;
    margin-bottom:30px;
}*/
.heading>h1{
    padding:20px;
    font-size: 45px;
   width:fit-content;
}
.heading > p{
    font-size: 20px;
    padding:20px;
}.Explore-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:50px;
    text-align: center;
}
.Explore-f-item{
    flex-basis: 25%;
    display:flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;

}
.Explore-f-item> a >img{
    height:160px;
    width:250px;
    border-radius: 12px;
    transition: 0.5s;
    box-shadow: 10px 10px 5px grey;
    
}

.Explore-f-item>.img-text{
    font-size: 20px;
    color:#182145;
    font-weight: bold;
    margin-top:10px;
    width:250px;
    margin-bottom:20px;
}
.Explore-f-item:hover img{
    transform: scale(1.1);
    box-shadow: none;
    box-shadow: 5px 5px 5px grey;
}


.more-btn{
    font-size:20px;
    text-align: center;
    padding:6px;
    background-color: white;
    color: black;
    font-weight: lighter;
    border: black 1px solid;
    border-radius:12px;
    cursor: pointer;
    transition: 0.5s;
    display:block;
    position: relative;
    left: 47%;
    margin-bottom:20px;
}
.more-btn:hover {
    transform: scale(1.05);
}
.food-container{
    display:flex;
    margin-top:20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width:inherit;
    margin:30px;
}
.food-container>div{
    flex-basis:21%;
    margin:20px;
}
.food-item{
    width: 155px;
    border-radius: 12px;
    padding-top:10px;
    border: solid #97c4EE 2px;
    text-align: center;
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
    transition: 0.6s;
}
.food-item:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px  grey;
}
.food-item:hover .food-item>img{

    transform:scale(1.5);
}
.food-item>p{
    text-align: center;
    padding:10px;
    font-size:20px;
    margin-top: 20px;
    border-bottom-left-radius: 9.5px;
    border-bottom-right-radius: 9.5px;
    background-color:#97c4EE;
    color:#182145;
    font-weight: bold;
}

.food-item> img{
    height: 120px;
    width:120px;
    cursor:pointer;
    border-radius: 100px;
    transform:scale(1.1);
    transition:  0.5s;
    
}
.hr{
    margin:30px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    border: solid black 1px;
}
.transport{
    border: 2px solid #97c4EE;
    height:fit fit-content;
    width:inherit;
    margin:20px;
    border-radius:12px;
}
.transport>img{
    margin:30px;
    display:inline-block;
    position:relative;
    bottom:70px;
    text-align:center;
}
.transport>p{
    display:inline-block;
    margin:20px;
    width:75%;
    font-size: 20px;
}
.embed{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 50px;
}
.youtube>h1,.map>h1{
    padding:20px;
}
.youtube>iframe,.map>iframe{
    border-radius: 20px;
}
footer{
    background-color:#182145;
 }

 footer>hr{
     width:40%;
     display:inline-block;
     background-color:#97C4EE;
     border: none;
     height: 2px;
    
 }
 footer>a{
    text-decoration: none;
 }
 .fa {
     padding: 10px;
     font-size: 30px;
     width: 30px;
     text-align: center;
     margin: 5px;
     color:#182145;
     border: solid 1px #97C4EE;
     background-color:#97C4EE;
     border-radius: 5px;
     transition: 0.5s;
   }
 .fa:hover{
     color:white;
     transform: scale(1.1);
 }
 .footerlogo{
     text-align:center;
     padding:10px;
     color:#97C4EE;
     font-size:20px;
 
 }
 .footerlogo a{
     color:#97C4EE;
     padding:10px;
     text-decoration: none;
     transition: 0.5s;
 
 }
 .footerlogo a:hover{
     color:white;
 }
 a:hover{
     color:white;
 }
 footer >.-div{
    display: inline-flex;
    color:#97C4EE;
    justify-content: space-around;
    width:100%;
}
footer >.-div > div > h4{
    margin-top:20px;
    margin-bottom: 20px;
    color: rgba(151,196,238,0.6);
    font-size:20px;
    text-align:center;
    font-weight: bolder;

}
footer >.-div>div>div{
    color:#97C4EE;
    font-weight: bolder;
    font-size: 20px;
    text-align:center;
    padding: 10px;
    line-height:27px;
}
.playstore-logo{
     
    justify-self: center;
    align-self: center;
    font-size: 20px;

}
.footerlinks{
    transition: color 0.2s;
    cursor:pointer;
}
.footerlinks:hover{
   color:white;
   transform: scale(1.05);
}
.playstore-logo >a >img{
    display: block;
    margin-bottom:20px;
    border: white solid 2px;
    border-radius: 30px;
}