*{
    padding:0px;
    margin:0px;
}
.NavBar{
    background:linear-gradient(to bottom , rgb(151,196,238),rgba(255,255,255,0.9));
    padding:15px;
    padding-top:20px;
}
ul,li{
    display:inline-block;
    font-size:20px;
    text-align:center;
}
li{
    cursor:pointer;
    color:#182145;
}
img{
    display:inline-block;
}
ul{
    position:absolute;
    right:0px;
    width: 650px;
}
li.location{
    position:relative;
    top:2px;
    right:80px;
    transition: 0.6s;
}
li:hover i,p:hover i{
   color:white;
}
li.location:hover{
    color:white;
    background-color:#182145;
    border-radius:12px;
    transform: scale(1.05);
}
li.profile{
    font-size:40px;
    position:relative;
    top:15px;
    cursor:pointer;
    transition: 0.6s;
}
li.profile:hover{
    transform: scale(1.05);
}
li p{
    position:relative;
    text-align:center;
    width: 200px;
    height:40px;
    top:7px;
    font-weight: bold;
}
.fa-solid:hover{
    color: white;
}
.fa-solid{
    color:#182145;
}
.hr1{
    top:25px;
    width:95%;
    position: relative;
    left:30px;
    background-color:#182145;
    height:0.1px;
    border: none;
    margin-top:20px;
}
li.logout{
    position: relative;
    top:2px;
    right: 40px;
    transition:0.6s;
    width:fit-content;
}
li.logout:hover{
    color:white;
    background-color:#182145;
    border-radius:12px;
    transform: scale(1.05);
}
.worldtravel{
        position: absolute;
        right: 90px;
        top:200px;
}
.searchbar
{   
    width: 550px;
    color:#182145;
    position: relative;
    top:25px;
    height:5px;
    padding:20px;
    padding-left:30px;
    border-color:#97C4EE;
    border-style: solid;
    border-width:3px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.searchbar:focus{
    outline:none;
}
.searchbar::placeholder{
    color: rgba(24,33,69,0.6);
    font-weight: bolder;
    font-size: 17px;
}
.find-place{
    display:inline-block;
    color:#182145;
    background-color:#97C4EE;
    font-size: 27px;
    font-weight: bolder;
    cursor:pointer;
    padding:10px;
    position:relative;
    top:29px;
    right:3.8px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    text-decoration:none;
    text-align:center;
    transition: 0.3s;
}
.find-place:hover{
    color: white;
}
.holiday{
    margin-top:60px;
}
.searchfield{
    padding-left:20px;
}
p.list-of-countries{
    position:relative;
    top:40px;
    line-height: 23px;
    cursor: pointer;
    padding:5px;
    transition: 0.5s;
   
}
.list-of-countries:hover{
    background-color:#97C4EE;
    border-radius: 12px;
    color: red; 
}
.hr2{
    width:93%;
    position: relative;
    left:43px;
    background-color: #182145;
    height:0.1px;
    border: none;
    margin-top:40px;
    margin-bottom:20px;
}
.flex-container div>img{
    height:150px;
    width:160px;
    transition:0.5s;
}
.flex-container div>img:hover{
    transform : scale(1.1);
}
.flex-container{
    display:flex;
    color:#182145;
    justify-content: space-around;
    margin-top:50px;
    margin-bottom:20px;
}
.flex-container>div{
    text-align:center;
}
.flex-container div>p{
    width:150px;
    font-weight: bolder;
    font-size: 20px;
    color:#182145;
   padding:5px;
   text-align:center;
   border-radius: 12px;
}
footer{
    height:300px;
    background-color:#182145;
}
footer > div{
    display: inline-flex;
    color:#97C4EE;
    justify-content: space-around;
    width:100%;
}
footer >div > div > h4{
    margin-top:20px;
    margin-bottom: 20px;
    color: rgba(151,196,238,0.6);
    font-size:20px;
    text-align:center;
    font-weight: bolder;

}
footer >div>div>div{
    color:#97C4EE;
    font-weight: bolder;
    font-size: 20px;
    text-align:center;
    padding: 10px;
    line-height:27px;
}
.footerlogo{
     
    justify-self: center;
    align-self: center;
    font-size: 20px;

}
.footerlinks{
    transition: color 0.2s;
    cursor:pointer;
}
.footerlinks:hover{
   color:white;
   transform: scale(1.05);
}